#canvas {
    
    height: 250px; 
    width: 800px;
    /* border: 2px solid black; */
    
}

@font-face {

	font-family: "ebit";
	src: url('fonts/eight-bit-dragon.eot');
	src: local('☺'), url('fonts/eight-bit-dragon.woff') format('woff'), url('fonts/eight-bit-dragon.ttf') format('truetype'), url('fonts/eight-bit-dragon.svg') format('svg');
	font-weight: normal;
    font-style: normal;
   
}


.container {
    position: relative;
    font-family: 'ebit';
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

#design {
    
    /* position: absolute; */
    /* left: 23%; */
   /* top: 15%; */
   
    cursor: pointer;
    font-family: "ebit";
    text-align: center;
    /* border: 2px solid black; */
    visibility: hidden;

}


